.header_container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 40px;
    align-items: center;
    margin-left: 120px;
}
.header_img{
    flex:1.5;
}
.header_content{
    flex:1;
}
.header_content a{
    color: white;
    display: inline-block;
}
.header_content p{
    margin: 40px 0px 34px 0px;
}
.header_img img{
    width: 100%;
    height: auto;
}

@media screen and (max-width:1024px) {
    .header_container{
        margin-left: 60px;
    }

}
@media screen and (max-width:768px) {
    .header_container{
        flex-direction: column;
        margin: 0px;
    }
    .header_content{
        margin: 0px 40px;
    }
    .header_img{
        margin-left: 40px;
    }
}
@media screen and (max-width:425px) {
    .header_content{
        margin: 0px 20px;
    }
    .header_img{
        margin-left: 20px;
    }

}