.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1.5rem 0;
}

.nav_links_container{
    display: flex;
    justify-content: flex-end;
    gap: 0px 50px;
    flex: 1;
}
.nav_links_container li a{
    display: block;
    padding: 8px 5px;
    text-transform: capitalize;
}
.navbar_menu_container {
    cursor: pointer;
    display: none;
}

@media screen and (max-width:1024px) {
    .nav_links_container{
        gap: 0px 30px;
        font-size: 14px;
    }
    .logo_container img{
        width: 100px;
        height: auto;
    }
}
@media screen and (max-width:768px) {
    .links_container{
        display: none;
    }
    .navbar_menu_container{
        display: block;
        position: relative;
    }
    .logo_container img{
        width: 90px;
        height: auto;
    }
    .nav_link_menu{
        min-width: 150px;
        position: absolute;
        right: 0px;
        top: 40px;
    }
    .nav_links_container{       
        flex-direction: column;
        width: 100%;
        text-align: end;
        border-radius: 8px;
        padding: 1.5rem;
        gap: 15px 0px;
        -webkit-box-shadow:0px 10px 50px rgba(0, 0, 0, 0.05) ;
        -moz-box-shadow:0px 10px 50px rgba(0, 0, 0, 0.05) ;
        box-shadow:0px 10px 50px rgba(0, 0, 0, 0.05) ;
        font-size: 14px;
        background-color: white;
    }
}
@media screen and (max-width:425px) {
    .section_margin{
        margin: 0 20px;
    }
    .nav_links_container{
        font-size: 12px;
        padding: 1rem;
    }

}